/* body  */
body {
    margin: 0px;
   background-color: rgb(37, 37, 37);
   color: white;
   font-family: 'Khand';

    background-image: url("https://images3.alphacoders.com/276/276637.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* NAV BAR WITH LOGO */
.navLogo {
    width: 4rem;
    height: auto;
    margin: 0.5rem;
}

.topnav {
    background-color: #222;
    position: sticky;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: 'Khand';
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  /* ABOUT */
  .aboutBanner{
      background-color: #222;
      text-align: center;
      margin: 2rem;
      font-family: 'Khand';
      padding: 10rem;
      height: 50vh;
  }

  /* MAIN AREA TO DISPLAY IN */
#main_container {
    margin: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */
h1 {
    margin: 1rem;
}

#allBeers {
display: flex;
flex-direction: column;
align-content: space-between;
}

#getAll {
    margin-left: 1rem;
    border-radius: 5%;
    background-color: green;
    border: none;
    max-width: 8rem;
    max-height: 2rem;
}

#getAll:hover {
    background-color: aqua;
}

#search-beers {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#cards {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; */
}

.flip_card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
  }

.card_inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip_card:hover .card_inner {
    transform: rotateY(180deg);
}

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_front {
    align-self: center;
}

.card_back {
    text-align: center;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* .favoritesBtn {
  background-color: #eee;
  color: black;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 20px 24px;
  width: 10px;
} */

#photoHere {
    max-height: 300px;
    max-width: 300px;
}


#cellar_search {
    margin-bottom: 1rem;
}

#cellar_search {
    margin-left: 1rem;
    border-radius: 5%;
    background-color: green;
    border: none;
    max-width: 8rem;
    max-height: 2rem;
}

#cellar_search:hover {
    background-color: aqua;
}

#cellar_reset {
    margin-left: 1rem;
    border-radius: 5%;
    background-color: red;
    border: none;
    max-width: 8rem;
    max-height: 2rem;
}

#cellar_reset:hover {
    background-color: aqua;
}

.footerAll {
      background-color: #222;
      left: 0;
      bottom: 0;
      position: fixed;
      text-align: center;
      width: 100%;
  }